*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.size-main{
    width: 80%;
    margin: 0 auto;
}
.bg-orange{
    background-color: rgb(255, 105, 0);
    padding: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}
.color-red{
    color: red;
}
.color-white{
    color: white;
}
.bg-black{
    background-color: rgb(26, 26, 26);
}
.dimension-photo{
        height: 550px;    
    } 
.dimension-logo{
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
.text-align{
    text-align: center;
}
.decoration-line{
    text-decoration: line-through;
}
.p-inline{
    display: inline;
}
.border{
    border: 1px solid rgb(234, 234, 234);
}
.m-20{
    margin-bottom: 0;
}
.p-20{
    padding-top: 50px;
}
.p-20-bot{
    padding-bottom: 30px;
}
.p-40-bot{
    padding-bottom: 40px;
}
.icon-detail{
    color: white;
    font-size: 20px;
    text-indent: 5px;   
}
.icon-detail-bot{
    color: white;
    font-size: 25px;
    text-indent: 5px;
}
/* classi flex*/

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}
#flex-container-header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#flex-container-footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}